@charset "utf-8";
/* CSS Document */

input{ color:#909090;}
.content{ width:1000px; margin:20px auto;}
h1{width:auto; margin-left:25px; height:50px; font:normal 24px/50px "微软雅黑"; border-bottom:1px solid #5DB6E0; color:#000; margin:24px 35px; padding:0; text-indent:25px; padding:0px 0px 15px 0px;}


/*  left  */
.content .left{ width:1000px; height:400px; float:left; background-color: #FFF; background:url(../imges/movie/box_bg.png) repeat-y; position: relative;}
.login_tab{ margin:50px 0;}
.login_tab tr td, .login_tab tr th{ vertical-align:top; position:relative;}
.login_tab tr th{ text-align:right; font-weight:bold; width:210px; font-size:14px;}
.login_tab tr td{ width:400px;}
.user, .password{width:200px; height:30px; border:1px solid #7490a9;line-height: 30px\9; padding-left:6px; background:url(../imges/movie/input_icon_bg.png) no-repeat 0 0;}
.input_icon{ position:absolute; width:26px; height:30px; top:2px; left:2px; cursor: pointer;}
.user_icon{ background:url(../imges/movie/email.png) no-repeat 3px 5px;}
.password_icon{ background:url(../imges/movie/unlock.png) no-repeat 3px 5px;}
.content .left .reme{ margin-right:5px; vertical-align:middle;}
.content .left .text_reme{padding:0; display: inline-block; position:absolute; line-height:12px;}
.content .left .box{ width:720px; height:150px;}
.content .left #dl{ float:left;width:130px; height:35px;}
.content .left .forget{padding-left: 10px; height:30px; position:absolute;top: 2px;left:208px;}
.content .left .order{float:left;color:#000;margin:0 200px 0 230px;}
.content .left .db{ width:55px; height:25px; float:left;margin:20px 12px 0 230px; background:url(../imges/movie/db.jpg); background-color:#fff; border:#d4d4d4 1px solid; padding:2px 0 0 32px;}
.content .left .sina{ width:79px; height:25px; float:left;margin:20px 12px 0 10px; background:url(../imges/movie/sina.jpg) no-repeat; background-color:#fff; border:#d4d4d4 1px solid; padding:2px 0 0 32px;}
.content .no{ float:left; margin:20px;}
.hrf{ text-decoration:none; color:#376284;}
/* right */
.content .right{ width:279px; height:469px; float:left; border-left:#b5b5b5 1px dashed; margin:40px 0; }
.content .right .button_green_zc{ width:71px; height:29px; background:url(../imges/movie/button_green_zc.jpg) no-repeat; display:block; margin:0 auto; margin-top:10px;}
.content .no .you{border-right:1px solid #909090;}
.content .no span{ float:left; padding:0px 20px;}

/* 隐藏导航域 */
#menu ul{ display:none;}
.footer1{ display:none;}
#logind, #regist{ display:none;}
#home-link{ display:inline-block; margin-left:48px;}
#city{ display:none;}

/* 使用短信密码登陆提示 */
.pass_tip{ background:#ffffff url(../imges/movie/user_center/passtip_icons.png) no-repeat 0px 3px; width:16px; height:22px; position:absolute; top: 2px; right: 14px;}
.pass_tip:hover{ background-position:0px -36px;}
.pass_tip_content{position: absolute; padding:5px 8px; letter-spacing:1px; width:222px; top:-2px; left:346px; border: solid 1px #909090; font-size:12px; line-height:16px; background-color:#FFF; color: #000;-webkit-box-shadow:1px 1px 3px #969696;-moz-box-shadow:1px 1px 3px #969696;box-shadow:1px 1px 3px #969696;filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);display: none;}
.pass_tip_countdown{ right:-10px;}
.pass_tip_content_countdown{ left:370px;}
.ss{position:absolute;top:12px;left:-5px;}

/* 验证码样式 */
#validCode td{padding-bottom: 17px; +padding-bottom: 12px;}

/* 广告 */
.rightAds {
	position: absolute;
	top: 120px;
	right: 35px;}

/* 自适应分辨率 */
html, body {
	height: 100%;}
.loginWrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;}
.loginContent {
	padding-bottom: 78px;}
#footer {
	margin-top: -78px;}